@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body {
    background-color: rgb(252, 252, 252);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #182047;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.3em;
    margin-top: 0%;
    margin-bottom: 3%;
}

h2 {
    color: #253270;
    font-family: 'Times New Roman', Times, serif;
}

p {
    text-align: justify;
}
h1#id01 {
    font-family: "Petit Formal Script", cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 3em;
    text-align: center;
}
.div01 {
    background-color: rgb(205, 213, 250);
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 40px;
    margin-top: 30px;
    padding-top: 50px;
}
.div02 {
    padding: 20px;
    background-color: aliceblue;
    background-color: oklch(87.875% 0.05193 275.671);
    border-radius: 10px;
    padding-top: 30px;
}