body {
    /* 
    Medidas Relativas:width:
    em, ex, rem, vw, vh, %
    
    Medidas Absolutas:
    cm, mm, in (polegada), px, pt, pc

    16px geralmente = 1em
    */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}