@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: linear-gradient(to bottom, #d9d3c1, #d0ecce);
    min-height: 100vh;
    margin-top: 30px;
    margin: 15px;
}

p {
    text-align: justify;
}

main {
    background-color: white;
    padding: 25px;
    margin: auto;
    max-width: 550px;
    border-radius: 10px;
    box-shadow: 10px 20px 20px #77a36636;
}
h1 {
    margin: 0mm;
    margin-top: 20px;
    text-align: center;
    font-size: 35px;
    color: rgb(53, 53, 56);
}
.top {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0%;
    color: rgb(156, 156, 156);
}

h2 {
     color: rgb(53, 53, 56);
}