BODY {
    background-image: url(imagens/wallpaper006.jpg);
}

h1 {
    font-size: 42px;
    text-align: center;
    text-decoration: underline;
    margin: 40px 0;
}

div.square {
    display: inline-block;
    background-color: rgb(212, 219, 226);
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: 5px;
}

/* 
#s01 {
    background-image: linear-gradient(to bottom right, rgba(38, 92, 240, 0.685), rgb(92, 115, 214), rgb(60, 62, 185));
}

#s02 {
    background-image: linear-gradient(to bottom right, rgba(233, 38, 240, 0.685), rgb(214, 92, 153), rgb(185, 60, 179));
}

#s03 {
    background-image: linear-gradient(to bottom right, rgba(240, 38, 38, 0.685), rgb(214, 92, 92), rgb(185, 60, 60));
} 
*/


#s01 {
    background-image: linear-gradient(to bottom right, rgba(38, 92, 240, 0.685), rgb(92, 115, 214), rgb(60, 62, 185));
}

#s02 {
    background-image: linear-gradient(to bottom right, rgba(233, 38, 240, 0.685), rgb(214, 92, 153), rgb(185, 60, 179));
}

#s03 {
    background-image: url(imagens/pattern003.png);
}