@charset "UFT-8";

div{
    background-color: rgb(188, 188, 250);
    text-align: center;
    height: 200px;
    width: 200px;
    border: 1px, solid, black;
    display: inline-block;
}

div:hover{
    background-color: rgb(153, 153, 252);
}